@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
     --success-color: darkseagreen;
     --error-color: crimson;
}
* {
     box-sizing: border-box;
}

body {
     background-color: gray;
     font-family: 'Open Sans', sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     margin: 0%;
}

.container {
     background-color: aliceblue;
     border-radius: 8px;
     box-shadow: 0 8px 16px rgba(8, 0, 255, 0.587);
     width: 400px;
}

h2 {
     text-align: center;
     margin:  0 0 24px;
}

form {
     padding: 32px 40px;
}

.form-control {
     margin-bottom: 8px;
     padding-bottom: 16px;
     position: relative;
}

.form-control label {
     color:rgb(13, 132, 72);
     display: block;
     margin-bottom: 8px;
}

.form-control input {
     border: 8px solid rgb(129, 166, 236);
     border-radius: 8px;
     display: block;
     width: 100%;
     padding: 8px;
     font-size: 16px;
}

.form-control input:focus {
     outline: 0;
     border-color: gray;
}

.form-control.success input {
     border-color: var(--success-color);
}

.form-control.error input {
     border-color: var(--error-color);
}

.form-control small {
     color: var(--error-color);
     position: absolute;
     bottom: 0;
     left: 0;
     visibility: hidden;
}

.form-control.error small {
     visibility: hidden;
}

.form button {
     cursor: pointer;
     background-color: aqua;
     border: 8px solid aqua;
     border-radius: 8px;
     color: rgb(10, 74, 130);
     display: block;
     font-size: 24px;
     padding: 8px;
     margin-top: 24px;
     width: 100%;
}